
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
        <form (ngSubmit)="login(f)" #f=ngForm>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email" ngModel >
        </div>
        <div class="form-group">
            <label for="isbn">Password</label>
            <input type="text" class="form-control" id="password" name="password" ngModel>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

</div>
</div>
</div>

